__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.pytest_cache/
.mypy_cache/
.DS_Store
*.db
*.sqlite3
media/
staticfiles/
.vscode
.idea
*.swp
*.swo
*~
